body{
    background-color: hsl(210, 46%, 95%);
}
h2, p{
    color: hsl(217, 19%, 35%);
    padding: 0 10px 0;
}
strong{
    color: hsl(217, 19%, 35%);
}
button{
    border: none;
    width: 34px;
    height: 34px;
}
button:hover{
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    background-color: white;
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
    max-width: 440px;
    margin: 10px;
}
#michelle{
    width: 60px;
    height: 60px;
}
#michelle, button{
    border-radius: 50%;
}
#shareText{
    color: white;
}
#drawers{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    max-height: 330px;
}
#nameAndOrLinks{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline-block;
    padding: 0 25px 10px;
}
#name{
    display: flex;
    align-items: center;
}
#shareLinks{
    display: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 9px;
}
#shareLinks button{
    background-color: hsl(217, 19%, 35%);
    margin-top: 10px;
}
#shareLinks p{
    color: hsl(212, 23%, 69%);
    letter-spacing: 6px;
}
#share{
    float: right;
    margin: 30px 60px 0 0;
}
#share2{
    display: none;
    margin-left: 100px;
}
#share2 img{
    width: 15px;
    height: 13px;
    padding-top: 8px;
    padding-left: 4px;
}
#nameAndDate{
    color: hsl(212, 23%, 69%);
}
#info p{
    line-height: 1.6;
}
#info h2, p{
    padding: 0 25px 0;
}
@media screen and (min-width: 850px) {
    .card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 330px;
        max-width: 845px;
    }
    #drawers{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        width: 330px;
        height: 330px;
    }
    #info{
        height: 330px;
        margin-left: 0;
        padding: 0 24px 0;
    }
    #shareLinks{
        position: fixed;
        top: 52.5%;
        left: 59.7%;
        background-color: hsl(217, 19%, 35%);
        border-radius: 10px;
        width: 275px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    #shareLinks::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: hsl(217, 19%, 35%);
        border-bottom: 0;
        margin-left: -20px;
        margin-bottom: -20px;
    }
}