body{
    background-color: hsl(210, 46%, 95%);
}
#michelle, button{
    border-radius: 50%;
}
#drawers{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
button{
    border: none;
}
button:hover{
    cursor: pointer;
}
.card{
    background-color: white;
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
}