body{
    background-color: hsl(210, 46%, 95%);
}
h2, p{
    color: hsl(217, 19%, 35%);
    padding: 0 10px 0;
}
button{
    border: none;
}
button:hover{
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    background-color: white;
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
    max-width: 660px;
    margin: 10px;
}
#michelle{
    width: 75px;
    height: 75px;
    padding: 0 10px 0;
}
#michelle, button{
    border-radius: 50%;
}
#shareText{
    color: white;
}
#drawers{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#nameAndOrLinks{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline-block;
}
#name{
    display: flex;
    align-items: center;
}
#shareLinks{
    display: none;
}
#shareLinks button{
    background-color: hsl(217, 19%, 35%);
}
@media screen and (min-width: 600px) {
    #drawers{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        width: 330px;
        height: 330px;
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 330px;
        max-width: 800px;
    }
    #info{
        height: 330px;
        margin-left: 0;
    }
}