body{
    background-color: hsl(210, 46%, 95%);
}
h2, p{
    color: hsl(217, 19%, 35%);
    padding: 0 10px 0;
}
strong{
    color: hsl(217, 19%, 35%);
}
button{
    border: none;
    width: 34px;
    height: 34px;
}
button:hover{
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    background-color: white;
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
    max-width: 440px;
    margin: 10px;
}
#michelle{
    width: 75px;
    height: 75px;
    padding: 0 10px 0;
}
#michelle, button{
    border-radius: 50%;
}
#shareText{
    color: white;
}
#drawers{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    max-height: 330px;
}
#nameAndOrLinks{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline-block;
}
#name{
    display: flex;
    align-items: center;
}
#shareLinks{
    display: none;
}
#shareLinks button{
    background-color: hsl(217, 19%, 35%);
}
#share{
    float: right;
    margin: 30px 60px 0 0;
}
#nameAndDate{
    color: hsl(212, 23%, 69%);
}
#info p{
    line-height: 1.6;
}
@media screen and (min-width: 850px) {
    #drawers{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        width: 300px;
        height: 330px;
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 330px;
        max-width: 750px;
    }
    #info{
        height: 330px;
        margin-left: 0;
    }
    #shareLinks{
        position: fixed;
        top: 52%;
        left: 61%;
        background-color: hsl(217, 19%, 35%);
        border-radius: 10px;
        width: 200px;
    }
    #shareLinks::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: hsl(217, 19%, 35%);
        border-bottom: 0;
        margin-left: -20px;
        margin-bottom: -20px;
    }
}